@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Oi&display=swap");

body {
  background-image: url("https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimage.freepik.com%2Ffree-vector%2Fflat-farm-landscape_52683-9442.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
}

h1 {
  font-family: "Akaya Kanadaka", cursive;
  font-size: 4em;
  margin-bottom: 0px;
}

.header {
  padding-top: 10px;
}

.question {
  background-color: rgba(123, 144, 11, 0.4);
}

.quote {
  background-color: rgb(252, 198, 76, 0.4);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: 1em;
  margin: 20px;
  background-color: #fbf9db;
  border-radius: 10px;
  box-shadow: 4px 4px 4px black;
}

button:hover {
  color: white;
  background-color: #ac473d;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

p {
  font-size: 1.5em;
  font-style: italic;
}
